NEXT_PUBLIC_SUPABASE_URL=https://qzcfzaruzemlbntxozho.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6Y2Z6YXJ1emVtbGJudHhvemhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMDg1NTEsImV4cCI6MjA5Mjc4NDU1MX0.gtdCW-GgRnqKJ2YADLVRLgcCjlOqpw7usgeU5e5B7HQ
NEXT_PUBLIC_API_URL=http://localhost:8000
