SUPABASE_PROJECT_URL=https://qzcfzaruzemlbntxozho.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6Y2Z6YXJ1emVtbGJudHhvemhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMDg1NTEsImV4cCI6MjA5Mjc4NDU1MX0.gtdCW-GgRnqKJ2YADLVRLgcCjlOqpw7usgeU5e5B7HQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6Y2Z6YXJ1emVtbGJudHhvemhvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzIwODU1MSwiZXhwIjoyMDkyNzg0NTUxfQ.g7e9U2U79GakebEk4RhZgua-JSvwqugOerrQncuKaJg
SUPABASE_JWT_SECRET=5z4ebPiQKZxAqCbKRR3hsK/hI2K/LAf9W8Mbt7vsfJqqF5EAmnEFGQL57gy/4PldKI0djfTrzCbNN2Vgwa+Ahg==
FRONTEND_URL=http://localhost:3000
SUPABASE_PASSWORD=tongiq-wymgaq-nebrA2
